extends layout
block content
 
 
 .container
    .row  
       .col-7
            .products() 
                .product_img
                    img(src= '/'+datas.photo , alt="")
                    p.saleing= datas.sale
                        | %
                h2= datas.title
                .price.price.price_group 
                  span 
                    i(class="fas fa-tags")  
                  p.prices= ` ${datas.price - (datas.price * datas.sale / 100)}Sum`
                  p.prices_sale= datas.price 
                    | Sum    
                h2 Tavsif
                p.comment= datas.comments  
                ul.bottom_ul
                    li.list-group-item.d-flex.justify-content-between 
                        span.writeLike= datas.like
                        span(class=' ml-2 d-block ' style="font-size: 20px;") 
                            i.far.fa-heart
                    li.list-group-item= datas.dateNow.toDateString()
                     span 
                        i(class="far fa-calendar-alt")
                    li.list-group-item.category= datas.category
       .col-5.user_information 
          h3 Foydalanuvchi 
          .user-card
            .user-card-img
                img(src="", alt="")
            .user-card-info.w-75
                p.user_name Name
                p.user_date
                 i(class="far fa-calendar-alt")  data
                .bottom-user-card
                    p.user_phone.btn.btn-warning.w-50   phone
                    p.all_info.btn.btn-warning.w-50  E'lonlar
               
    .row
      .col-12
          .btn-group
                a(href="/product/edit/"+datas.id class="btn btn-success") ozgartirsh  
                a(href="#" class="btn btn-danger") O'chirish 